/* /css/forget_password.css */

/* Body and container styles */
body {
  font-family: Arial, sans-serif;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.changeP {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

/* Heading styles */
.changeP h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #1877f2; /* Facebook blue */
}

/* Form styles */
.changeP form {
  display: flex;
  flex-direction: column;
}

.changeP input[type="email"],
.changeP input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.changeP input[type="email"]:focus,
.changeP input[type="password"]:focus {
  outline: none;
  border-color: #1877f2; /* Facebook blue */
  box-shadow: 0 0 5px #1877f2; /* Facebook blue */
}

.changeP button {
  background-color: #1877f2; /* Facebook blue */
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.changeP button:hover {
  background-color: #166fe5; /* Slightly darker shade of Facebook blue on hover */
}
