body {
  /* background-image: url("../img/3.jpg");/ */
  background-color: rgb(234, 241, 248);
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Facebook background color */
  background-size: cover; /* Ensure background covers the viewport */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b5998; /* Facebook header background color */
  color: #fff; /* Facebook text color */
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Header shadow */
}

.title a {
  color: #fff; /* Facebook link color */
  text-decoration: none;
  font-size: 24px; /* Adjusted font size */
  font-weight: bold;
}

.title a:hover {
  text-decoration: underline;
}

.userPresent,
.noUser {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 40px; /* Adjust profile picture size */
  height: 40px;
  border-radius: 50%; /* Round profile picture */
  margin-right: 10px; /* Adjust spacing */
}

.userInfo {
  display: flex;
  align-items: center;
}

.nameOfUser {
  font-size: 18px; /* Adjusted font size */
  font-weight: bold;
  margin-right: 10px; /* Adjust spacing */
}

.logOut a {
  color: #fff; /* Facebook link color */
  text-decoration: none;
  font-size: 20px; /* Adjusted font size */
}

.logOut a:hover {
  text-decoration: underline;
}

.noUser ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.noUser li {
  margin-left: 15px;
}

.noUser li a {
  color: #fff;
  text-decoration: none;
}

.noUser li a:hover {
  text-decoration: underline;
}
