/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #141414; /* GitHub's sign-in page background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-container {
  width: 40vw;
  margin: 0 auto;
  padding: 20px; /* Added padding to container for spacing */
}

.signin {
  background-color: #fff; /* GitHub's sign-in form background color */
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signin h1 {
  text-align: center;
  color: #24292f; /* GitHub's primary text color */
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  align-items: center;
  color: #24292f; /* GitHub's primary text color */
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin: 0.3rem 0;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

i {
  margin-right: 0 30px;
}

button:hover {
  background-color: #218838; /* Darker shade of primary button color */
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #0366d6; /* GitHub's link color */
}

a:hover {
  text-decoration: underline;
}
