/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Facebook's background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-container {
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
}

.signin {
  background-color: #ffffff; /* Facebook's sign-in form background color */
  padding: 40px;
  border-radius: 8px; /* Slightly rounder corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.signin h1 {
  text-align: center;
  color: #1877f2; /* Facebook's primary color */
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  align-items: center;
  color: #65676b; /* Facebook's secondary text color */
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dddfe2; /* Lighter border color */
  border-radius: 6px;
  outline: none;
  margin: 0.3rem 0;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1877f2; /* Facebook's primary button color */
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #166fe5; /* Darker shade of primary button color on hover */
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #1877f2; /* Facebook's link color */
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
